{{if .DiffNotAvailable}}
	<h4>{{.i18n.Tr "repo.diff.data_not_available"}}</h4>
{{else}}
	<div class="diff-detail-box diff-box">
		<div>
			<i class="fa fa-retweet"></i>
			{{.i18n.Tr "repo.diff.stats_desc" .Diff.NumFiles .Diff.TotalAdditions .Diff.TotalDeletions | Str2HTML}}
			<div class="ui right">
				<a class="ui tiny basic toggle button" href="?style={{if .IsSplitStyle}}unified{{else}}split{{end}}">{{ if .IsSplitStyle }}{{.i18n.Tr "repo.diff.show_unified_view"}}{{else}}{{.i18n.Tr "repo.diff.show_split_view"}}{{end}}</a>
				<a class="ui tiny basic toggle button" data-target="#diff-files">{{.i18n.Tr "repo.diff.show_diff_stats"}}</a>
			</div>
		</div>
		<ol class="detail-files hide" id="diff-files">
			{{range .Diff.Files}}
				<li>
					<div class="diff-counter count pull-right">
						{{if not .IsBinary}}
							<span class="add" data-line="{{.NumAdditions}}">{{.NumAdditions}}</span>
							<span class="bar">
								<span class="pull-left add"></span>
								<span class="pull-left del"></span>
							</span>
							<span class="del" data-line="{{.NumDeletions}}">{{.NumDeletions}}</span>
						{{else}}
							<span>{{$.i18n.Tr "repo.diff.bin"}}</span>
						{{end}}
					</div>
					<!-- todo finish all file status, now modify, add, delete and rename -->
					<span class="status {{DiffFileTypeToStr .Type}} poping up" data-content="{{DiffFileTypeToStr .Type}}" data-variation="inverted tiny" data-position="right center">&nbsp;</span>
					<a class="file" href="#diff-{{.Index}}">{{.Name}}</a>
				</li>
			{{end}}
		</ol>
	</div>

	{{range $i, $file := .Diff.Files}}
		{{if $file.IsIncomplete}}
			<div class="diff-file-box diff-box file-content">
				<h4 class="ui top attached normal header">
					{{$.i18n.Tr "repo.diff.file_suppressed"}}
					<div class="diff-counter count ui left">
						<span class="add" data-line="{{.NumAdditions}}">+ {{.NumAdditions}}</span>
						<span class="bar">
							<span class="pull-left add"></span>
							<span class="pull-left del"></span>
						</span>
						<span class="del" data-line="{{.NumDeletions}}">- {{.NumDeletions}}</span>
					</div>
					<span class="file">{{$file.Name}}</span>
				</h4>
			</div>
		{{else}}
			<div class="diff-file-box diff-box file-content {{TabSizeClass $.Editorconfig $file.Name}}" id="diff-{{.Index}}">
				<h4 class="ui top attached normal header">
					<div class="diff-counter count ui left">
						{{if $file.IsBinary}}
							{{$.i18n.Tr "repo.diff.bin"}}
						{{else}}
							<span class="add" data-line="{{.NumAdditions}}">+ {{.NumAdditions}}</span>
							<span class="bar">
								<span class="pull-left add"></span>
								<span class="pull-left del"></span>
							</span>
							<span class="del" data-line="{{.NumDeletions}}">- {{.NumDeletions}}</span>
						{{end}}
					</div>
					<span class="file">{{if $file.IsRenamed}}{{$file.OldName}} &rarr; {{end}}{{$file.Name}}</span>
					{{if not $file.IsSubmodule}}
						<div class="ui right">
							{{if $file.IsDeleted}}
								<a class="ui basic grey tiny button" rel="nofollow" href="{{EscapePound $.BeforeSourcePath}}/{{EscapePound .Name}}">{{$.i18n.Tr "repo.diff.view_file"}}</a>
							{{else if $.SourcePath}} {{/* No SourcePath we assume the source repository no longer exists */}}
								<a class="ui basic grey tiny button" rel="nofollow" href="{{EscapePound $.SourcePath}}/{{EscapePound .Name}}">{{$.i18n.Tr "repo.diff.view_file"}}</a>
							{{end}}
						</div>
					{{end}}
				</h4>
				<div class="ui unstackable attached table segment">
					{{$isImage := false}}
					{{if $file.IsDeleted}}
						{{$isImage = (call $.IsImageFileByIndex $file.Index)}}
					{{else}}
						{{$isImage = (call $.IsImageFile $file.Name)}}
					{{end}}

					{{if $isImage}}
						<div class="center">
							{{if $file.IsDeleted}}
								<img src="{{$.BeforeRawPath}}/{{EscapePound .Name}}">
							{{else}}
								<img src="{{$.RawPath}}/{{EscapePound .Name}}">
							{{end}}
						</div>
					{{else}}
						<div class="file-body file-code code-view code-diff">
							{{if $.IsEnabledCommentsPullRequest}}
							<button class="ui compact icon mini button" id="code-diff-add-comment" style="position: absolute; display: none"><i class="add icon"></i></button>
							{{end}}
							<table>
								<tbody>
									{{if $.IsSplitStyle}}
										{{$highlightClass := $file.HighlightClass}}
										{{range $j, $section := $file.Sections}}
											{{range $k, $line := $section.Lines}}
												<tr class="{{DiffLineTypeToStr .Type}}-code nl-{{$k}} ol-{{$k}}">
													{{if eq .Type 4}}
														<td class="lines-num"></td>
														<td colspan="3"  class="lines-code">
															<pre><code class="{{if $highlightClass}}language-{{$highlightClass}}{{else}}nohighlight{{end}}">{{$section.ComputedInlineDiffFor $line}}</code></pre>
														</td>
													{{else}}
														<td class="lines-num lines-num-old" {{if $line.LeftLine}} id="diff-{{Sha1 $file.Index}}L{{$line.LeftLine}}" data-line-number="{{$line.LeftLine}}"{{end}}>
														</td>
														<td class="lines-code halfwidth">
															<pre><code class="wrap {{if $highlightClass}}language-{{$highlightClass}}{{else}}nohighlight{{end}}">{{if $line.LeftLine}}{{$section.ComputedInlineDiffFor $line}}{{end}}</code></pre>
														</td>
														<td class="lines-num lines-num-new" {{if $line.RightLine}} id="diff-{{Sha1 $file.Index}}R{{$line.RightLine}}" data-line-number="{{$line.RightLine}}"{{end}}>
														</td>
														<td class="lines-code halfwidth">
															<pre><code class="wrap {{if $highlightClass}}language-{{$highlightClass}}{{else}}nohighlight{{end}}">{{if $line.RightLine}}{{$section.ComputedInlineDiffFor $line}}{{end}}</code></pre>
														</td>
													{{end}}
												</tr>
											{{end}}
										{{end}}
									{{else}}
										{{template "repo/diff/section_unified" . }}
									{{end}}
								</tbody>
							</table>
						</div>
					{{end}}
				</div>
			</div>
		{{end}}
	<br>
	{{end}}

	{{if .Diff.IsIncomplete}}
		<div class="diff-file-box diff-box file-content">
			<h4 class="ui top attached normal header">
				{{$.i18n.Tr "repo.diff.too_many_files"}}
			</h4>
		</div>
	{{end}}

	{{if .IsSplitStyle}}
		<script>
			(function() {
				$('.add-code').each(function() {
					var prev = $(this).prev();
					if(prev.is('.del-code') && prev.children().eq(3).text().trim() === '') {
						while(prev.prev().is('.del-code') && prev.prev().children().eq(3).text().trim() === '') {
							prev = prev.prev();
						}
						prev.children().eq(3).html($(this).children().eq(3).html());
						prev.children().eq(2).html($(this).children().eq(2).html());
						prev.children().eq(3).addClass('add-code');
						prev.children().eq(2).addClass('add-code');
						$(this).remove();
					}
				});
			}());
		</script>
	{{end}}

	{{if .IsEnabledCommentsPullRequest}}
		<style>
			.comment-code-line-wrapper {
				padding: 10px !important;
			}
		</style>
	  <div id="pr-comments-templates" style="display:none">
			<!-- Comment input form -->
			<div id="comment-code-line-form" style="display: none">
				<form class="ui form" id="comment-form" action="{{.CodeCommentLink}}" method="post">
					<div class="field">
						<div class="ui top attached tabular menu" data-write="write" data-preview="preview">
							<a class="active item" data-tab="write">{{.i18n.Tr "repo.issues.create_comment"}}</a>
						</div>
						<div class="ui bottom attached active tab segment" data-tab="write">
							<textarea id="content" class="edit_area" name="content" tabindex="4" data-id="issue-{{.RepoName}}" data-url="{{AppSubURL}}/api/v1/markdown" data-context="{{.Repo.RepoLink}}"></textarea>
						</div>
						<div class="ui bottom attached tab segment markdown" data-tab="preview">
							{{.i18n.Tr "repo.release.loading"}}
						</div>
					</div>
					{{.CSRFTokenHTML}}
					<div class="text right">
						<button class="ui red basic button cancel-btn" tabindex="5">
							{{.i18n.Tr "cancel"}}
						</button>
						<button class="ui green button save-btn" tabindex="5">
							{{.i18n.Tr "repo.issues.create_comment"}}
						</button>
					</div>
				</form>
				</div>
			</div>
		</div>
  	<script>
		$(function() {
				function InitSimpleMDE($editArea)
				{
				  if ($editArea.length > 0) {
				    new SimpleMDE({
				      autoDownloadFontAwesome: false,
				      element: $editArea[0],
				      forceSync: true,
				      previewRender: function(plainText, preview) {
				        // Async method
				        setTimeout(function() {
				          // FIXME: still send render request when return back to edit mode
				          $.post(
				            $editArea.data("url"),
				            {
				              _csrf: csrf,
				              mode: "gfm",
				              context: $editArea.data("context"),
				              text: plainText
				            },
				            function(data) {
				              preview.innerHTML = '<div class="markdown">' + data + "</div>";
				              emojify.run($(".editor-preview")[0]);
				            }
				          );
				        }, 0);

				        return "Loading...";
				      },
				      renderingConfig: {
				        singleLineBreaks: false
				      },
				      indentWithTabs: false,
				      tabSize: 4,
				      spellChecker: false,
				      toolbar: [
				        "bold",
				        "italic",
				        "strikethrough",
				        "|",
				        "heading-1",
				        "heading-2",
				        "heading-3",
				        "heading-bigger",
				        "heading-smaller",
				        "|",
				        "code",
				        "quote",
				        "|",
				        "unordered-list",
				        "ordered-list",
				        "|",
				        "link",
				        "image",
				        "table",
				        "horizontal-rule",
				        "|",
				        "clean-block",
				        "preview",
				        "fullscreen"
				      ]
				    });
				  }
			}
			let tpl_container = $('#pr-comments-templates');
			let add_comment_form = tpl_container.find('#comment-code-line-form').parent().html();
			let add_btn = $('#code-diff-add-comment');
			let code_diff_table_trs = $('.code-diff table tr');
			add_btn.mouseenter( function(e) {
				add_btn.show();
			}).mouseleave( function() {
				add_btn.hide();
			});

			add_btn.on('click', function() {
				let selected_line_num = $(this).data('line-number');
				let file_id = $(this).data('file-id');
				let hovered_tr = code_diff_table_trs
					.find('td[data-line-number='+selected_line_num+']')
					.parent();
				let col_span = hovered_tr.find('td').length
				let comment_block = $(add_comment_form);
				let wrap = '<tr data-comment-line-number="'+selected_line_num+'" id="file-'+file_id+'-ccl-line-'+selected_line_num+'" class="comment-code-line"><td class="comment-code-line-wrapper" colspan="'+col_span+'">'+comment_block.html()+'</td></tr>';
				hovered_tr.after(wrap);
				let insertedCommentBlockTextArea = $('tr[data-comment-line-number="'+selected_line_num+'"] textarea');
				let cancelButton = $('tr[data-comment-line-number="'+selected_line_num+'"] .cancel-btn');
				let saveButton = $('tr[data-comment-line-number="'+selected_line_num+'"] .save-btn');
				cancelButton.on('click', function() {
					$('tr[data-comment-line-number="'+selected_line_num+'"]').remove();
					return false;
				});
				saveButton.on('click', function() {
					let _ = $(this);
					// Prevent duplicate click
					if(_.hasClass('saving')) {
						return false;
					}
					_.addClass('saving');
					let form = $('tr[data-comment-line-number="'+selected_line_num+'"] form');
					let formUrl = form.attr('action');
					let csrf = form.find('input[name=_csrf]').val();
					$.ajax({
						url: formUrl,
						method: 'POST',
						data: {
							_csrf: csrf,
							line: selected_line_num,
							code: '',
							comment: insertedCommentBlockTextArea.val(),
							file_id: file_id
						},
					  statusCode: {
							200: function(){
									_.removeClass('saving');
							},
					    404: function() {
								_.removeClass('saving');
					      alert( "page not found" );
					    },
							500: function(){
									_.removeClass('saving');
								  alert('500 error');
							},
							502: function(){
									_.removeClass('saving');
								  alert('502 error');
							},
							503: function(){
									_.removeClass('saving');
								  alert('503 error');
							},
							504: function(){
									_.removeClass('saving');
								  alert('504 error');
							}
					  }
					});

					return false;
				});
				InitSimpleMDE(insertedCommentBlockTextArea);
			});

			let add_btn_width = add_btn.width() * 2 * - 1;
			code_diff_table_trs
			.mouseenter( function(e) {
				var line_number_Base = $(this).find('td[data-line-number]').first();
				if(line_number_Base[0] == undefined) {
					return;
				}
				add_btn.css({
					left: add_btn_width+'px',
					top: Math.abs(add_btn.parent()[0].getBoundingClientRect().y - line_number_Base[0].getBoundingClientRect().y) + 'px'
				});
				add_btn.data('line-number', line_number_Base.data('line-number'));
				add_btn.data('file-id', line_number_Base.prop('id'));
				add_btn.show();
			} )
			.mouseleave( function() {
				add_btn.hide();
			});
		});
		</script>
	{{end}}
{{end}}
