{{$comment := .}}
    <div
         class="comment" id="comm-{{$comment.UUID}}"
        data-commented-line-number="{{$comment.CodeLineAsString}}"
        data-commented-file-id="{{$comment.FileID}}">
      <div class="content">
        <div class="ui top attached header">
          <a class="avatar" {{if gt $comment.PosterID 0}}href="{{$comment.Poster.HomeLink}}"{{end}}>
            <img style="max-width: 30px" src="{{$comment.Poster.RelAvatarLink}}">
          </a>
          <span class="text grey"><a {{if gt $comment.PosterID 0}}href="{{$comment.Poster.HomeLink}}"{{end}}>{{$comment.Poster.DisplayName}}</a></span>
          <div class="ui right actions">
              <!--<div class="item tag">item_tag</div>-->
            <!-- edit block here for admin or owners? -->
          </div>
        </div>
        <div class="ui attached segment">
          <div class="render-content markdown has-emoji">
            {{$comment.Comment|Str2HTML}}
          </div>
        </div>
      </div>
    </div>
