{{$comment := .}}
<tr>
  <td></td>
  <td style="padding: 0">{{if lt $comment.SideID 1}}{{template "repo/pulls/code_comment" $comment}}{{end}}</td>
  <td></td>
  <td style="padding: 0">
    {{if gt $comment.SideID 1}}{{template "repo/pulls/code_comment" $comment}}{{end}}
  </td>
</tr>
