{{$commentViewData := .}}
    <div
         class="comment" id="comm-{{$commentViewData.Comment.UUID}}"
        data-commented-line-number="{{$commentViewData.Comment.CodeLineAsString}}"
        data-commented-file-id="{{$commentViewData.Comment.FileID}}">
      <div class="content">
        <div class="ui top attached header">
          <a class="avatar" {{if gt $commentViewData.Comment.PosterID 0}}href="{{$commentViewData.Comment.Poster.HomeLink}}"{{end}}>
            <img style="max-width: 30px" src="{{$commentViewData.Comment.Poster.RelAvatarLink}}">
          </a>
          <span class="text grey"><a {{if gt $commentViewData.Comment.PosterID 0}}href="{{$commentViewData.Comment.Poster.HomeLink}}"{{end}}>{{$commentViewData.Comment.Poster.DisplayName}}</a> - {{ $commentViewData.CommentedAt | Safe}} </span> 
          <div class="ui right actions">
              <!--<div class="item tag">item_tag</div>-->
            <!-- edit block here for admin or owners? -->
          </div>
        </div>
        <div class="ui attached segment">
          <div class="render-content markdown has-emoji">
            {{$commentViewData.Comment.Comment|Str2HTML}}
          </div>
        </div>
      </div>
    </div>
