{{$comment := .}}
<tr>
  <td></td>
  <td style="padding: 2px">{{if eq $comment.SideID 1}}{{template "repo/pulls/code_comment" $comment}}{{end}}</td>
  <td class="lines-num"></td>
  <td style="padding: 2px">
    {{if eq $comment.SideID 2}}{{template "repo/pulls/code_comment" $comment}}{{end}}
  </td>
</tr>
